name: Build with Docker

on:
  push:
    branches:
      - main
    tags:
      - '*'
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.CONTAINER_TOKEN }}

      - name: Pull Docker image
        run: docker pull ghcr.io/calebmostyn/gbc-build:1.0

      - name: Build
        uses: addnab/docker-run-action@v3
        with:
          image: ghcr.io/calebmostyn/gbc-build:1.0
          options: --rm -v ${{ github.workspace }}:/workspace -w /workspace
          run: ./build.sh

      - name: Zip Output
        # only on tags
        if: startsWith(github.ref, 'refs/tags/')
        run: |
          TAG_NAME="${GITHUB_REF#refs/tags/}"
          ZIP_NAME="gbc_${TAG_NAME}.zip"
          zip -r "$ZIP_NAME" build/
          echo "ZIP_NAME=$ZIP_NAME" >> $GITHUB_ENV

      - name: Create Release
        if: startsWith(github.ref, 'refs/tags/')
        id: create_release
        uses: actions/create-release@v1
        with:
          tag_name: ${{ github.ref_name }}
          release_name: GBC Release ${{ github.ref_name }}
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.CONTAINER_TOKEN }}

      - name: Upload Release Asset
        if: startsWith(github.ref, 'refs/tags/')
        uses: actions/upload-release-asset@v1
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ${{ env.ZIP_NAME }}
          asset_name: ${{ env.ZIP_NAME }}
          asset_content_type: application/zip
        env:
          GITHUB_TOKEN: ${{ secrets.CONTAINER_TOKEN }}
